/* .postapp{
    background-color:rgb(145, 137, 137);
} */
.container{
    display: flex; 
    justify-content: center;
    margin-top: 20px;
} 
.header{ 
    display:flex;
    justify-content: space-between;
    background-color: rgb(146, 196, 146);
    position: sticky;
    top:0%;
}
.leftText{
    color: rgb(14, 212, 14);
    margin-left: 20px;
    color: black;
}
.createpost{
    margin-right: 20px;
    display: flex;
    align-self: center;
}
.sin{
    /* background-image: linear-gradient(to right,rgb(74, 228, 74), rgb(147, 196, 212) ); */
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.ic{
    color: black;
}
.details{ 
    width: 40%;
    border: 1px solid gray;
    border-radius:2%;
    margin-bottom: 20px;
}
.name{
    display:flex;
    margin-left: 20px;
    justify-content: space-between;
}
.place{
    margin-top: 0px;
    color: gray;
}
.ename{
    margin-bottom: 0px;
}
.loading{
    margin-right: 10px;
}
.image2{
    display: flex;
    height: 400px;
    justify-content: center;
    flex-direction: column;
}
.img2{
    height: 400px;
    width: auto;
    margin-top: 10px;
}
.logos{
    display: flex;
}
.like{
    margin-left: 10px;
}
.red{
    margin-left: 10px;
    color: red;
}
.send{
    margin-left: 20px;
}
.date{
    margin-top: 25px;
    margin-left: auto;
    margin-right: 10px;
    font-size: 20px;
}
.liked{
    margin-top: -30px;
    display: flex;
    justify-content: left;
    margin-left: 10px;
}
.sentence1{
    margin-bottom: 30px;
    display: flex;
    justify-content: left;
}

.sentence{
    font-size: 20px;
    margin-left: 10px;
}
.ed{
    display: flex;
    align-self: center;
}
.edit{
    background-color: rgb(9, 179, 9);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right: 4px;
}
.delete{
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 10px;
}

/* form */
.createpostcontainer{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right,rgb(74, 228, 74), rgb(147, 196, 212) );
}
.postcreate1{
    border: 1px solid rgb(187, 231, 187);
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    box-shadow: 8px 8px 5px #649692;
    width: 40%;
    margin: auto;
    margin-top: 8%;
    height: 500px;
}
.createpostlogo{
    display: flex;
    justify-content: center;
}
.posttext{
    font-size: 30px;
    font-family: cursive;
    color: black;
    margin-top:20px;
}
.createpostform{
    display:grid;
    width: 80%;
    margin-left: 50px;
}
input{
    width: 90%;
    margin-left: 15px;
    border: 0.5px solid rgb(87, 87, 110);
    border-radius: 8px;
    margin-top: 5px;
    height: 35px;
}
input[type=text], input[type=text], input[type=text]{
    font-size: 18px;
    font-weight: bold;
}
label{
    margin-top: 5px;
    font-size: 20px;
}
.createpostbtn{
    background-image: linear-gradient(to right,rgb(74, 228, 74), rgb(147, 196, 212) );
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:20px 10px 0px;
    cursor: pointer;
    width: 100%;
}
.cancel{
    margin-left: 50px;
    margin-top: -10px;
}
.backbtn{
    font-size: 20px;
    text-decoration: none; 
}
.poststatus{
    display: flex;
    justify-content: space-evenly;
}
.postmsg{
    color: rgb(5, 190, 5);
    font-size: 30px;
}